<h1>Create New Score</h1>

<div class="form-horizontal" role="form" id="scores">
    <%=form_for(@score)do|f|%>
    
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
            <%= f.label :date,"Date (Year/Month/Day)",class:"control-label col-sm-2"%>
            <div class="col-sm-10">
                <%= f.date_select :date, {:date_separator => "Please select"},class:"form-control"%>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :course_id,"Course Select",class:"control-label col-sm-2"%>
            <div class="col-sm-10">
                <%= select_tag 'score[course_id]', options_from_collection_for_select(@courses, :id, :name),class:"form-control"%>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :score_out,"Score (Out)",class:"control-label col-sm-2"%>
            <div class="col-sm-10">
                <%= f.text_field :score_out,class:"form-control"%>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :score_in,"Score (In)",class:"control-label col-sm-2"%>
            <div class="col-sm-10">
                <%= f.text_field :score_in,class:"form-control"%>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :score_total,"Total Score",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= f.text_field :score_total,class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :category_id,"Score Range Select",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= select_tag 'score[category_id]', options_from_collection_for_select(@categories, :id, :score_range),class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :put_out,"Put (Out)",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= f.text_field :put_out,class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :put_in,"Put (In)",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= f.text_field :put_in,class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :put_total,"Total Put",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= f.text_field :put_total,class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :memo,"Comment (Option,max 255)",class:"control-label col-sm-2" %>
            <div class="col-sm-10">
                <%= f.text_field :memo,class:"form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :image2,"Attach Picture (Option)",class:"control-label col-sm-2"%>
           <div class="col-sm-10">
                <%= f.fields_for :pictures do |picture|%>
                <%= picture.file_field :image2%>
                <% end %>
            </div>
        </div>
           
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%=f.submit "Submit",class:"btn btn-primary btn-lg btn-block"%>
            </div>
        </div>    
    <% end %>
</div>