
<div class="page-header">
  <h1>
  Score Range &nbsp;&nbsp;<span class="label label-default"><%=@category.score_range%></span>
  <small>&nbsp;&nbsp;Total&nbsp;<%=@scores.select(:id).count%>&nbsp;Rounds</small>
  </h1>
</div>


<% @scores.each do |score|%>
    <div class="col-sm-4">
      <div class="panel panel-<%=score.category.color%>">
        <div class="panel-heading">
          <h4 class="panel-title">Date: <%=score.date%></h4>
            <div class="buttons">
            <%= link_to "Edit", edit_score_path(score.id),class: 'btn btn-success btn-xs' %>
            <%= link_to "Delete", score, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            </div>
           <h3><%=score.course.name%></h3> 
        </div>
        <div class="panel-body">
          <h4>
            Score: <%=score.score_total%><br>
            Put: <%=score.put_total%>
          </h4>
          <div class="button">
            <%=link_to "Score Detail",score_path(score.id),class: 'btn btn-primary btn-la'%>
          </div>
        </div>
      </div>
   </div> 
<% end %>
<%= paginate(@scores) %>
  

