<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GolfScore3</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(function(){
        $('#score_score_out').change(function(){
          $("#score_score_total").val(parseInt($("#score_score_out").val()) + parseInt($("#score_score_in").val()));
        });
        $('#score_score_in').change(function(){
          $("#score_score_total").val(parseInt($("#score_score_out").val()) + parseInt($("#score_score_in").val()));
        });
      });
      
      $(function(){
        $('#score_put_out').change(function(){
          $("#score_put_total").val(parseInt($("#score_put_out").val()) + parseInt($("#score_put_in").val()));
        });
        $('#score_put_in').change(function(){
          $("#score_put_total").val(parseInt($("#score_put_out").val()) + parseInt($("#score_put_in").val()));
        });
      });
    </script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <div class="container">
        <%= render 'layouts/flash_messages' %>
      <%= yield %>
      
    </div>
  </body>
</html>
